/* Order Body */
#nav-order{
    background-color: aliceblue;
}
/* Order Nav */
#nav-tab{
    width: fit-content;
    border: solid 1px;
}

/* VIEW ALL ORDER */
#view-all-order-container{
    margin-left: 0px;
    margin-top: 25px;
    padding: 25px;
    background-color: bisque;
    width: 40%;
}
#view-all-order-table{
    text-align: center;
}
#view-all-order th{
    width: 25%;
}
#view-all-order td{
    font-family: sans-serif;
    font-size: 10px;
}
#view-all-order-table{
    width: 100%;
}


/* PATCH ORDER*/
#patch-order-form{
    margin-top: 25px;
    width: 750px;
    padding: 25px;
    background-color: bisque;
}
#patch-order-preview-field{
    margin-left: 0px;
    margin-top: 25px;
    background-color: antiquewhite;
    width: 40%;
    text-align: center;
}
#patch-order-preview-table th{
    border: solid 1px;
}
#patch-order-form-id-field{
    width: 35%;
}
#patch-order-form-name-field{
    width: 80%;
}
#patch-order-form-price-weight-field{
    width: 55%;
}



/* ADD ORDER */
#add-order-form-container{
    background-color: antiquewhite;
    width: 500px;
    padding: 25px;
    margin-top: 25px;
    margin-left: 0px;
}

/* DELETE ORDER */
#delete-order-field{
    background-color: antiquewhite;
    width: 500px;
    margin-top: 25px;
    padding: 25px;
}

#patch-order-preview-table{
    text-align: center;
}